  p {
    font-family: Arial;
    margin-top: 0px;
  }
  .code {
    font-weight: bold;
    margin-bottom: 5px;
  }
  .details {
    color: rgba(0, 0, 0, 0.6);
    font-weight: normal;
  }
  .text {
    
  }
  .color {
    color: rgb(20, 150, 200);
  }